@tailwind base;
@tailwind components;
@tailwind utilities;

.arrow {
  box-sizing: border-box;
  height: 8px;
  width: 8px;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}
